#searchBar {
    width: 200px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */

#searchBar:focus {
    width: 50%;
}

.card {
    width: 17rem;
}

.review {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}